# Langchain
LANGCHAIN_TRACING_V2= 
LANGCHAIN_ENDPOINT= 
LANGCHAIN_API_KEY= 
LANGSMITH_PROJECT= 


# Oracle DB
ORACLE_USER=readonly_user
ORACLE_PASSWORD=change_me
ORACLE_HOST=gxpndb04vm01.example.net
ORACLE_PORT=1521
ORACLE_SERVICE=ORCLPDB1